
body,header,nav,main,footer,h1,div,img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /* Add the body selector */
    background-color: #000000;
    /* Set the background colour */
}

img {
    max-width: 100%;
    display: block;
}

#topbanner {
    text-align: center;
    background-color: #8c8d8a;
    padding: 0.5%;
    font-family: 'Unbounded', cursive;
}


/* Closing brace for the body selector */

header {
    /* add the header selector */
    width: 25%;
    /* Set the width of the element */
    float: left;
    /* Add a declaration that sets a left float */
}

/* Closing brace for the header selector */
nav {
    width: 70%;
    float: left;
    padding: 0.5%;
    margin: 125px 3em 0 -48px;
    /* Set the margin on all sides of the element:top, right, bottom, left */
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}


nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

main {
    clear: left;
    /* clears a float to the left */
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

#changingoftyre {
    width: 29%;
    float: left;
    margin: 10px 60px 0 0;
    color:white
}

#carrepair {
    width: 29%;
    float: left;
    margin: -15px 42px 0 0;
    color:white

}

#fixing{
    font-size:1.2em;
    color:white
}


#contact {
    text-align: center;
}

#contact h6 a[href^="mailto:"] {
    color: rgb(6, 78, 231);
    text-decoration: none;
}

#contact h5{
    font-size: 1.3em;
}

#contact h6{
    font-size: 0.75em;
}

#content{
    top: 0;
    position: absolute;
}

#overall{
    position: relative;
}

#content p{
    width: 1100px;
    margin-left: 10px;
    font-size: 22px;
    line-height: 52px;
}

#tradinghours
{
    font-size:1.15em;
    text-align:center;
}

#specials
{
    font-size: 1.20em;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
    clear: left;
}

footer p a {
    color: #fff;
    /* Sets the link colour */
    text-decoration: none;
}